In [1]:
import pandas as pd
import numpy as np

In [2]:
TransactionAmount = pd.DataFrame([["S1", 100],
                                  ["S2", 150],
                                  ["S3", 50],
                                  ["S4", 100],
                                  ["S5", 130],
                                  ["S6", 120],
                                  ["S7", 100],
                                  ["S8", 85],
                                  ["S9", 70],
                                  ["S10", 150],
                                  ["S11", 150],
                                  ["S12", 120],
                                  ["S13", 50],
                                  ["S14", 100],
                                  ["S15", 100],
                                  ["S16", 140],
                                  ["S17", 90],
                                  ["S18", 150],
                                  ["S19", 50],
                                  ["S20", 90],
                                  ["S21", 120],
                                  ["S22", 100],
                                  ["S23", 110],
                                  ["S24", 75],
                                  ["S25", 65]],
                                  columns = ["sales_id", "transaction_amount"])
TransactionAmount

   sales_id  transaction_amount
0        S1                 100
1        S2                 150
2        S3                  50
3        S4                 100
4        S5                 130
5        S6                 120
6        S7                 100
7        S8                  85
8        S9                  70
9       S10                 150
10      S11                 150
11      S12                 120
12      S13                  50
13      S14                 100
14      S15                 100
15      S16                 140
16      S17                  90
17      S18                 150
18      S19                  50
19      S20                  90
20      S21                 120
21      S22                 100
22      S23                 110
23      S24                  75
24      S25                  65

In [3]:
TransactionAmount.to_csv("TransactionAmount.csv", index = False)
TransactionAmount.to_excel("TransactionAmount.xlsx", index = False)

In [4]:
TransactionAmount = pd.read_csv("TransactionAmount.csv")
TransactionAmount = pd.read_excel("TransactionAmount.xlsx")

In [5]:
TransactionAmount

   sales_id  transaction_amount
0        S1                 100
1        S2                 150
2        S3                  50
3        S4                 100
4        S5                 130
5        S6                 120
6        S7                 100
7        S8                  85
8        S9                  70
9       S10                 150
10      S11                 150
11      S12                 120
12      S13                  50
13      S14                 100
14      S15                 100
15      S16                 140
16      S17                  90
17      S18                 150
18      S19                  50
19      S20                  90
20      S21                 120
21      S22                 100
22      S23                 110
23      S24                  75
24      S25                  65

In [6]:
#measure of central tendency

In [19]:
TransactionAmount = np.array([100, 150, 50, 100, 130, 120, 100, 85, 70, 150, 150, 120, 50, 100, 100, 140, 90, 150, 50, 90, 120, 100, 110, 75, 65])
sales_id = ["S1", "S2", "S3", "S4", "S5", "S6", "S7", "S8", "S9", "S10", "S11", "S12", "S13", "S14", "S15", "S16", "S17", "S18", "S19", "S20", "S21", "S22", "S23", "S24", "S25"]
TransactionAmount

array([100, 150,  50, 100, 130, 120, 100,  85,  70, 150, 150, 120,  50,
       100, 100, 140,  90, 150,  50,  90, 120, 100, 110,  75,  65])

In [20]:
import statistics
print(statistics.mean(TransactionAmount))
print(statistics.median(TransactionAmount))

102
100

In [21]:
statistics.mode(sales_id)

'S1'

In [22]:
statistics.multimode(sales_id)

['S1',
 'S2',
 'S3',
 'S4',
 'S5',
 'S6',
 'S7',
 'S8',
 'S9',
 'S10',
 'S11',
 'S12',
 'S13',
 'S14',
 'S15',
 'S16',
 'S17',
 'S18',
 'S19',
 'S20',
 'S21',
 'S22',
 'S23',
 'S24',
 'S25']

In [11]:
#measure of variability

In [23]:
import numpy as np
print(np.var(TransactionAmount))
print(np.std(TransactionAmount))
print(np.max(TransactionAmount) - np.min(TransactionAmount))
print(np.quantile(TransactionAmount, 0.25)) #Q1
print(np.quantile(TransactionAmount, 0.5)) #Q2
print(np.quantile(TransactionAmount, 0.75)) #Q3

972.2399999999999
31.18076330047101
100
85.0
100.0
120.0

In [16]:
#T-Test 
import scipy.stats as stats

In [24]:
#import data
data_sales = np.array([100, 150, 50, 100, 130, 120, 100, 85, 70, 150, 150, 120, 50, 100, 100, 140, 90, 150, 50, 90, 120, 100, 110, 75, 65])
data_sales

array([100, 150,  50, 100, 130, 120, 100,  85,  70, 150, 150, 120,  50,
       100, 100, 140,  90, 150,  50,  90, 120, 100, 110,  75,  65])

In [26]:
len(data_sales)

25

In [ ]:
#defisini H0 dan H1
#H0 : rata-rata = $100
#H1 : rata-rata > $100
#definisi alpha = 0.05 / 5%

In [27]:
#popmean = rata rata penjualan sebelum training
stats.ttest_1samp(a=data_sales, popmean=100)

TtestResult(statistic=0.4085001556802841, pvalue=0.6865284813438117, df=24)

In [ ]:
#statistic = 0.4085001556802841, pvalue = 0.6865284813438117
#jika p value lebih besar dari alpha (5% / 0.05), maka gagal menolak H0
#kesimpulan : hasil dari sales force training tidak efektif, karena rata-rata penjualan oleh sales setelah dilakukan training masih berada di $100

In [29]:
#mencari critical region
stats.t.ppf(1-0.05, 24)

1.7108820799094275

In [ ]:
#critical region = t > 1.71
#karena t-statistic (0.4085001556802841) tidak didalam dari critical region (> 1.7108820799094275), maka H0 ditolak
#kesimpulan : hasil dari sales force training tidak efektif, karena rata-rata transaksi oleh sales  setelah dilakukan training masih berada di $100